project/target
project/project/target
project/project/project
target
.idea
.env
.DS_Store
.ensime
.ensime_cache/
tags
tmp
atlas_thin
.cache-main
.cache-tests
.classpath
.project
.settings/
bin/
.bloop/
.metals/
project/metals.sbt
